.top-image {
  /* position: absolute; 한 애의 기준이 된다 */
  position: relative;

  margin-bottom: 31px;
  /* background-color: aquamarine; */
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 27px;
}

.contents {
  background-color: aqua;
  font-size: 12px;
  /* font-weight: regular; */
  margin-bottom: 27px;
}

.profile-image {
  position: absolute;
  left: 266px;
  top: 47px;
}
