.postImage {
  margin-bottom: 13px;
}

.title {
  font-size: 24px;
  margin-bottom: 4px;
}

.content {
  font-size: 12px;
  margin-bottom: 28px;
}
.readmore {
  font-size: 12px;
  background: #4e95d7;
  border-radius: 5px;
}
