body {
  background-color: #f2e749;
}

.main-image {
  margin-bottom: 47px;
}

.recent-wrap {
  /* margin-right: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* background-color: blueviolet; */
}

.recent-images {
  /* background-color: #980000; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  /* align-items: center; */

  margin-bottom: 70px;
}
.recent-text {
  margin-bottom: 15px;
  width: 100%;
}

/* .bg-image {
    
} */

.paper-wrap {
  /* background-color: aqua; */
  width: 520px;
}

.paper-title {
  border-bottom: 2px solid black;
  padding-bottom: 6px;
  margin-bottom: 9px;
}

.paper {
  /* display: flex; 가로로 만들고 싶을때 */
  display: flex;

  /* 플렉스로 정렬한거 공간 똑같이 나눠줌 */
  justify-content: space-between;

  margin-bottom: 5px;
}

.info {
  display: flex;
}

.text {
}

.author {
  margin-right: 11px;
}

.date {
}

.pagenation {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.pagenation button {
  padding: 1.5px;
  background-color: transparent;
  border: 0;
}

.form {
  display: flex;
  justify-content: center;
}

.name-form {
  width: 66px;
  margin-right: 9px;
  height: 30px;
  border: 0;
}

.text-form {
  width: 223px;
  height: 30px;
  margin-right: 9px;
  border: 0;
}

.submit-button {
  border: 0;
}
